.academy-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 60px;
  border-top: 1px solid var(--line_grey);

  @media (min-width: $tablet-width) {
    width: 163px;
    column-gap: 22px;
    border: none;
  }
}
