.academy-link {
  display: flex;
  justify-content: space-between;
}

.footer-page__social-list::before {
  content: "";
  background: var(--line_grey);
  display: flex;
  width: 240px;
  height: 1px;
  margin: 23px auto 15px;
}

.academy-link__academy-text {

}

.academy-link__academy-logo {

}
