.application-form {
  font-family: "Oswald", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--light_black);
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.application-form__title {
  margin-bottom: 37px;
  text-transform: none;
}

.application-form__description {

  color: var(--super_black);
  margin-bottom: 39px;
}

.application-form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.application-form fieldset {
  border: none;
  padding: 0;
}

.application-form__fieldset {
  padding-bottom: 24px;
}

.application-form__fieldset::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--grey);

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.application-form__head {
  line-height: 26px;
  text-transform: none;
  margin-bottom: 37px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 69px;
  }
}

.application-form__line {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.application-form__input {
  margin-left: 13px;
  height: 45px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.application-form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 54px;
    align-items: baseline;
  }
}

.application-form__button {
  margin-bottom: 21px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-right: 140px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    height: 52px;
    margin-right: 81px;
  }
}

.application-form__text {
  font-family: "Arial", "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  text-transform: none;
  color: var(--super_black);
}
