
.contact-info {
  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 60px;
  }
}

.contact-info__line {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    flex: 1 1 auto;
  }
}

.contact-info__input {
  margin-left: 10px;
  height: 45px;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    max-width: 486px;
  }
}

.contact-info__input--email::placeholder {
  @media (min-width: $tablet-width) {
    background: url("../../img/icon_email.svg") no-repeat center right;
  }
}

.contact-info__input--tel::placeholder {
  @media (min-width: $tablet-width) {
    background: url("../../img/icon_tel.svg") no-repeat center right;
  }
}


.contact-info__comment {
  resize: none;
  padding: 10px 14px 15px;

  @media (min-width: $tablet-width) {
    padding: 10px 18px 15px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}
