
.contact-info {
  padding-top: 26px;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.contact-info__line {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.contact-info__input {
  margin-left: 10px;
  height: 45px;

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.contact-info__input--email::placeholder {
  @media (min-width: $tablet-width) {
    background: url("../../img/icon_email.svg") no-repeat center right;
  }
}

.contact-info__input--tel::placeholder {
  @media (min-width: $tablet-width) {
    background: url("../../img/icon_tel.svg") no-repeat center right;
  }
}


.contact-info__comment {
  resize: none;
  padding: 10px 12px 15px;
}
