.contacts--catalog {
  background: var(--light_grey);
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
}

.contacts__text {
  line-height: 20px;
  margin: 0;
  max-width: 159px;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    line-height: 40px;
  }
}

.contacts__title {
  font-family: "Oswald", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--dark-black);
  margin: 0;
  max-width: 171px;
}

.contacts__img {
  display: flex;
  justify-content: center;
  min-height: 362px;
}

.contacts__img img {
  width: 100%;
  object-fit: cover;
}
