.details {
  padding-top: 7px;
  padding-bottom: 42px;
}

.details__title {
  margin-top: 0;
  margin-bottom: 38px;
}

.details__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  counter-reset: myCounter;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 326px;
    column-gap: 59px;
    row-gap: 90px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}

.details__item {
  display: flex;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    row-gap: 31px;
    position: relative;
    min-height: 280px;
  }
}

.details__item::after {
  @media (min-width: $tablet-width) {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: var(--light_grey);
    display: flex;
    font-family: "Oswald", "Ubuntu", sans-serif;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    z-index: -1;
    top: -50px;
    right: 0;
  }
}

.details__item::before {
  content: "";
  background-color: var(--green);
  background-repeat: no-repeat;
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.details__item:first-child {
  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.details__item:first-child::before {
  content: "";
  background-image: url("../../img/details1.png");
}

.details__item:nth-child(2)::before {
  content: "";
  background-image: url("../../img/details2.png");
}

.details__item:nth-child(3)::before {
  content: "";
  background-image: url("../../img/details3.png");
}

.details__item:last-child::before {
  content: "";
  background-image: url("../../img/details4.png");
}
