.example {
  background-color: var(--special_grey);
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: var(--white);
    background-image: linear-gradient(var(--white) 620px, var(--special_grey) 620px);
    border-top: 1px solid var(--line_menu);
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(var(--white) 212px, var(--special_grey) 212px);
    border: none;
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.example__wrap {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
  }
}

.example__title {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
    margin-bottom: 148px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 54px;
  }
}

.example__parameters {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 50%;
    align-items: start;
  }
}

.example__properties {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    justify-content: start;
    gap: 42px;
  }
}

.example__property {
  font-weight: 400;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 15px;
}

.example__property dd {
  font-family: "Oswald", "Ubuntu", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--super_black);
  border: 1px solid var(--dark_grey);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 160px;
    height: 72px;
    font-size: 30px;
    line-height: 37px;
    margin-top: -2px;
  }
}

.example__property dt {
  font-size: 12px;
  line-height: 12px;
  display: flex;
  text-align: center;
  width: 85px;
  background-color: var(--special_grey);
  margin-top: -24px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    margin-top: -22px;
    background-color: var(--white);
    padding: 0 5px;
  }

  @media (min-width: $desktop-width) {
    background-color: var(--special_grey);
  }
}

.example__expenses {
  font-family: "Oswald", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--super_black);
  margin: 4px auto 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: right;
    width: 174px;
    margin: 28px 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 400px;
    margin-top: 34px;
  }
}

.example__price {
  @media (min-width: $tablet-width) {
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    line-height: 29px;
    margin-left: 63px;
  }
}
