.footer-page {
  background-color: var(--light_grey);
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
  }
}

.footer-page__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-bottom: 61px;
  }
}

.footer-page__logo {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer-page__social-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 14px 0 10px;
  display: flex;
  justify-content: center;
  column-gap: 14px;
  border-top: 1px solid var(--line_grey);
  width: 100%;

  @media (min-width: $tablet-width) {
    column-gap: 10px;
    border: none;
    padding: 0;
    width: auto;
  }
}

.footer-page__social-link {
  display: flex;
  width: 40px;
  height: 40px;
  color: var(--dark);

  &:hover {
    color: var(--green);
  }

  &:focus {
    opacity: 0.6;
  }
}

.footer-page__academy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  border-top: 1px solid var(--line_grey);
  width: 100%;
  color: var(--dark);

  @media (min-width: $tablet-width) {
    width: auto;
    text-align: right;
    border: none;
    padding: 0;
    column-gap: 22px;
  }

  &:hover {
    color: var(--green);
  }

  &:focus {
    opacity: 0.6;
  }
}
