.footer-page {
  background-color: var(--light_grey);
  padding-top: 39px;
}

.footer-page__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 61px;
  }
}

.footer-page__logo {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer-page__social-list {
  list-style-type: none;
  margin: 0 auto 20px;
  padding: 0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  column-gap: 33px;
  border-top: 1px solid var(--line_grey);
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.footer-page__social-link {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer-page__vk {
  background: url("../../img/icon_vkontakte.svg") no-repeat;
  background-position: center;
}

.footer-page__insta {
  background: url("../../img/icon_instagram.svg") no-repeat;
  background-position: center;
}

.footer-page__face {
  background: url("../../img/icon_facebook.svg") no-repeat;
  background-position: center;
}
