.footer-page {
  background-color: var(--light_grey);
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
  }
}

.footer-page__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-bottom: 61px;
  }
}

.footer-page__logo {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
  }
}

.footer-page__social-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 14px 0 10px;
  display: flex;
  justify-content: center;
  column-gap: 14px;
  border-top: 1px solid var(--line_grey);
  width: 100%;

  @media (min-width: $tablet-width) {
    column-gap: 10px;
    border: none;
    padding: 0;
    width: auto;
  }
}

.footer-page__social-link {
  display: flex;
  width: 40px;
  height: 40px;
}

.footer-page__vk {
  background: url("../../img/icon_vkontakte.svg") no-repeat center;
  background-size: 23px auto;

  @media (min-width: $tablet-width) {
    background-size: 30px auto;
  }
}

.footer-page__insta {
  background: url("../../img/icon_instagram.svg") no-repeat center;
  background-size: 16px auto;

  @media (min-width: $tablet-width) {
    background-size: 23px auto;
  }
}

.footer-page__face {
  background: url("../../img/icon_facebook.svg") no-repeat center;
  background-size: 22px auto;

  @media (min-width: $tablet-width) {
    background-size: 28px auto;
  }
}

.footer-page__academy-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 22px;
  border-top: 1px solid var(--line_grey);

  @media (min-width: $tablet-width) {
    width: 163px;
    column-gap: 22px;
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 176px;
    justify-content: flex-start;
  }
}
