.header-page {
  padding-top: 11px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--line_grey);

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.header-page__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header-page__logo {
  min-width: 190px;
  height: auto;

  @media (min-width: $tablet-width) {
    min-width: 174px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 202px;
    height: auto;
  }
}
