.nav-menu {
  font-family: "Oswald", "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--super_black);
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.nav-menu__toggle {
  display: flex;
  width: 34px;
  height: 26px;
  cursor: pointer;
  background: url("../../icons/sprite.svg#menu") no-repeat center;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav-menu--opened > .nav-menu__toggle {
  width: 28px;
  height: 28px;
  background: url("../../icons/sprite.svg#closed") no-repeat center;
}

.nav-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 54px;
  left: 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--line_menu);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  box-shadow: 50px 0 0 0 var(--white),
    -50px 0 0 0 var(--white);

  @media (min-width: $tablet-width) {
    opacity: 1;
    visibility: visible;
    position: static;
    background-color: inherit;
    border: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 35px;
    box-shadow: none;
  }
}

.nav-menu--opened > .nav-menu__list,
.nav-menu__toggle:focus-within ~ .nav-menu__list {
  opacity: 1;
  visibility: visible;
}

.nav-menu__link {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid var(--line_menu);

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 20px;

    &:active,
    &--active {
      text-decoration: underline var(--green) solid;
      text-underline-offset: 10px;
    }
  }

  &:hover {
    opacity: 0.6;
  }
}

.nav-menu--index {
  @media (min-width: $desktop-width) {
    color: var(--white);
  }
}

.nav-menu__link--index:active,
.nav-menu__link--index-active {
  @media (min-width: $desktop-width) {
    text-decoration: underline var(--white) solid;
  }
}
