.nav-menu {
  font-family: "Oswald", "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--super_black);
}

.nav-menu__toggle {
  border: none;
  width: 40px;
  height: 40px;
  background: url("../../img/menu-mobile.svg") no-repeat;
  background-position: center;
}

.nav-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 56px;
  left: 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--line_menu);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.nav-menu__toggle:hover ~ .nav-menu__list,
.nav-menu__toggle:focus-within ~ .nav-menu__list {
  opacity: 1;
  visibility: visible;
}

.nav-menu__link {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid var(--line_menu);
}
