.other-products {
  border-top: 1px solid var(--grey);
  padding-bottom: 36px;
}

.other-products__title {
  white-space: nowrap;
}

.other-products__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid var(--grey);
  padding-top: 13px;
}

.other-products__card {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 19px;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--grey);
}

.other-products__name {
  font-family: "Oswald", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--black);
  width: 280px;
  text-align: left;
  margin-bottom: 13px;
}

.other-products__volume {
  width: 135px;
}

.other-products__price {
  width: 140px;
  text-align: right;
}

.other-products__buy {
  width: 100%;
  flex: 1 0 280px 100%;
}

.other-products__button {
  width: 100%;
}
