.page {
  min-height: 100%;
  display: grid;
}

.page__body {
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--light-black);
  background-color: var(--white);
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  align-content: start;
}

.page__visually-hidden {
  position: absolute;
  transform: scale(0);
}

.page__leveler {
  --page-indent: 20px;
  --scrollbar-size: calc(100vw - 100%);
  margin-inline: var(--page-indent) calc(var(--page-indent) - var(--scrollbar-size));
  box-sizing: border-box;
  padding: 0;
}
