.page__body {
  font-family: "Arial", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--light-black);
  background-color: var(--white);
  margin: 0;
  padding: 0;
  min-height: 100vh;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__visually-hidden {
  position: absolute;
  transform: scale(0);
}

.page__leveler {
  margin-inline: auto;
  width: calc(100% - 20px);
  box-sizing: border-box;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: calc(100% - 60px);
  }

  @media (min-width: $desktop_m-width) {
    width: calc(100% - 220px);
  }

  @media (min-width: $desktop_l-width) {
    width: calc(100% - 220px);
  }
}
