.weight {
  padding-bottom: 20px;
}

.weight__line {
  background-color: var(--light_grey);
  padding: 21px 33px 18px 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 53px;
  }
}

.weight__title {
  font-family: "Oswald", "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: var(--super_black);
  display: flex;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.weight__title--slim::before {
  content: "";
  background: url("../../img/cat_back.png") no-repeat;
  display: flex;
  width: 50px;
  height: 53px;
  margin-right: 19px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.weight__title--pro::before {
  content: "";
  background: url("../../img/cat_back1.png") no-repeat;
  display: flex;
  width: 67px;
  height: 50px;
  margin-right: 11px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.weight__link {
  font-family: "Oswald", "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--super_black);
  display: flex;
}

.weight__link::after {
  content: "";
  background: url("../../img/icon_arrow.svg") no-repeat;
  width: 32px;
  height: 10px;
  margin-left: 17px;
}

.weight__text {
  @media (min-width: $tablet-width) {
    width: 340px;
    color: var(--super_black);
  }
}

.weight__text::after {
  content: "";
  background: var(--line_grey);
  display: flex;
  width: 240px;
  height: 1px;
  margin: 23px auto 15px;

  @media (min-width: $tablet-width) {
    background: inherit;
  }
}
