:root {
  --green: #68b738;
  --special_green: #5eaa2f;
  --white: #ffffff;
  --line_grey: #d9d9d9;
  --line_menu: #e6e6e6;
  --light_grey: #f2f2f2;
  --grey: #ebebeb;
  --dark_grey: #cdcdcd;
  --special_grey: #eaeaea;
  --dark: #666666;
  --light-black: #444444;
  --black: #222222;
  --dark-black: #111111;
  --super_black: #000000;
  --rose: #ff8282;
}
